html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end HTML5 display-role reset for older browsers */

/*styles for main page*/
html {
    background: lightcyan;
    height: 100%;
}

body {
    clear: both;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    background: whitesmoke;
    min-height: 100%;
    position: relative;
    font-family: Tahoma, Verdana, Arial, 'Sans Serif', serif;
}

* html body {
    height: 100%;
}

#header {
    background: #008fe2;
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    color: #c9c9c9;
    padding: 25px 5px;
    clear: both;
    font-size: 24px;
}

h1 {
    margin: 0;
    padding: 10px;
    font-family: Consolas, serif;
}

a {
    text-decoration: none;
    color: #c9c9c9;
}

a:hover {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

#footer {
    background: #008fe2;
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    color: #c9c9c9;
    clear: both;
    width: 1000px;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
}

#page {
    padding-bottom: 42px;
    overflow: hidden;
    width: 100%;
}

#content {
    float: left;
    width: 50%;
    margin-left: 0;
    background: whitesmoke;
}

#sidebar {
    width: 50%;
    background-color: whitesmoke;
    height: 100%;
    margin-left: 50%;
}

/*end styles for main page*/

/*styles for main menu*/
#menu {
    height: 50px;
    clear: both;
}

.main-menu {
    margin: 0;
    padding: 10px 5px;
    list-style: none;
    background: #eaebec;
    border: 1px solid #ccc;
}

.main-menu li {
    display: inline;
    margin-right: 5px;
}

.main-menu a {
    color: #0088cc;
}

/* end styles for main menu*/

/* styles for form validation  */
.auth_label {
    margin-bottom: 0;
}

.auth_input {
    margin-top: 0;
}

.auth_input input {
    width: 427px;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: 20px;
}

/* end form validation styles */

/*styles for content*/
.table {
    box-sizing: border-box;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    text-shadow: 1px 1px 0 #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.button {
    position: relative;
    display: inline-block;
    font-size: 95%;
    font-weight: 400;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .2em 1em;
    outline: none;
    border-radius: 1px;
    background: #008fe2;
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .5),
    0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

.button:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

.button:active {
    top: 1px;
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

/*end styles for content*/


